In [20]:
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver
from selenium.webdriver.chrome.service import Service as ChromeService
from selenium.webdriver.common.by import By
import re

In [21]:
# url yang akan diakses
url = 'http://quotes.toscrape.com/'

In [23]:
# function untuk membuka url
def open_url(url):
    driver = webdriver.Chrome(
        service=ChromeService(ChromeDriverManager().install())) # using chrome driver
    driver.implicitly_wait(5) # wait 5 seconds by finding element
    driver.get(url) # open url
    return driver

In [24]:
# open driver
driver = open_url(url)

In [25]:
quotes = driver.find_elements(By.CLASS_NAME, 'quote') # find all element with class name 'quote'
assert len(quotes) > 0
list = []
for quote in quotes: # looping all element with class name 'quote'
    text = quote.find_element(By.CLASS_NAME, 'text').text # find element with class name 'text'
    author = quote.find_element(By.CLASS_NAME, 'author').text # find element with class name 'author'
    
    tags_driver = quote.find_elements(By.CLASS_NAME, 'tag') # find all element with class name 'tag'
    tags = [tag.text for tag in tags_driver] # looping all element with class name 'tag'
    tags = re.sub(r'[\[\]\']', '', str(tags)) # remove '[' and ']' and '\''
    
    # append to list
    list.append({
        'text': text,
        'author': author,
        'tags': tags
    })
    
driver.close() # close driver

In [26]:
list[0]

{'text': '“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”',
 'author': 'Albert Einstein',
 'tags': 'change, deep-thoughts, thinking, world'}

In [27]:
import pandas as pd

In [28]:
# convert list to dataframe
df = pd.DataFrame(list) 
df

,text,author,tags
0,“The world as we have created it is a process ...,Albert Einstein,"change, deep-thoughts, thinking, world"
1,"“It is our choices, Harry, that show what we t...",J.K. Rowling,"abilities, choices"
2,“There are only two ways to live your life. On...,Albert Einstein,"inspirational, life, live, miracle, miracles"
3,"“The person, be it gentleman or lady, who has ...",Jane Austen,"aliteracy, books, classic, humor"
4,"“Imperfection is beauty, madness is genius and...",Marilyn Monroe,"be-yourself, inspirational"
5,“Try not to become a man of success. Rather be...,Albert Einstein,"adulthood, success, value"
6,“It is better to be hated for what you are tha...,André Gide,"life, love"
7,"“I have not failed. I've just found 10,000 way...",Thomas A. Edison,"edison, failure, inspirational, paraphrased"
8,“A woman is like a tea bag; you never know how...,Eleanor Roosevelt,misattributed-eleanor-roosevelt
9,"“A day without sunshine is like, you know, nig...",Steve Martin,"humor, obvious, simile"